.container {
    max-width: 100%;
}

.b-table-sticky-header {
    overflow-y: auto;
    max-height: 62vh;
}

.card-header {
    padding: 1rem 1.25rem 1rem 1.25rem;
    border-radius: 0;
    border-bottom: 0 !important;
}

.card-title {
    margin-bottom: 0;
    font-size: 22px;
}

.breadcrumb {
    padding: 0 1rem 0 0.7rem;
}

.cell .update {
    display: none;
}

.cell:hover .update {
    color: #5f6368;
    display: inline;
}

a i {
    font-size: 18px !important;
}
